
<div class="contact bg-info-subtle d-flex justify-content-center align-items-center">
  <div class="container ">
  <div class="row ">
    <div class="col-4 text-center">
      <h2>LOCATION</h2>
      <p>2215 John Daniel Drive</p>
      <p>Clark, MO 65243</p>
    </div>
    <div class="col-4">
      <h2 class="text-center">AROUND THE WEB</h2>
      <div class="icon d-flex flex-row justify-content-center ">
        <div class="face text-black border px-2 py-1 mx-2 rounded-circle"><i class="fa-brands fa-facebook "></i></div>
        <div class="face text-black border px-2 py-1 mx-2 rounded-circle"><i class="fa-brands fa-twitter"></i></div>
        <div class="face text-black border px-2 py-1 mx-2 rounded-circle"><i class="fa-brands fa-instagram"></i></div>
        <div class="face text-black border px-2 py-1 mx-2 rounded-circle"><i class="fa-solid fa-globe"></i></div>

      </div>
    </div>
    <div class="col-4 text-center">
      <h2>ABOUT FREELANCER</h2>
      <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
    </div>
  </div>

</div>
</div>

<div class="Copyright d-flex justify-content-center align-items-center  py-3">
  <p class="m-0 p-0">Copyright © Your Website 2021</p>
  </div>
