
  <section class="d-flex flex-column justify-content-center align-items-center">
    <h1 class="text-white">ABOUT COMPONENT</h1>
    <app-shape2></app-shape2>
    <div class="container my-4">
      <div class="con d-flex flex-row justify-content-evenly ">
        <p class="text-white">Freelancer is a free bootstrap theme created by Route. The download includes br the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
        <p class="text-white">Freelancer is a free bootstrap theme created by Route. The download includes br the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>

      </div>
    </div>

    </section>



